<section class="py-5 text-center container">
	<div class="row py-lg-5">
	  <div class="col-lg-6 col-md-8 mx-auto">
		<h1 class="fw-light">Discover the World</h1>
		<p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
		<p>
		  <a href="#" class="btn btn-primary my-2">Main call to action</a>
		  <a href="#" class="btn btn-secondary my-2">Secondary action</a>
		</p>
	  </div>
	</div>
</section>
<div class="album py-5 bg-light">
	<div class="container-fluid">
		<form role="search">
			<input class="form-control" type="search" placeholder="Search" aria-label="Search">
		</form>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-end">
			  <li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
			  </li>
			  <li class="page-item"><a class="page-link" href="#">1</a></li>
			  <li class="page-item"><a class="page-link" href="#">2</a></li>
			  <li class="page-item"><a class="page-link" href="#">3</a></li>
			  <li class="page-item">
				<a class="page-link" href="#">Next</a>
			  </li>
			</ul>
		</nav>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-3" data-masonry='{"percentPosition": true, "itemSelector": ".col", "horizontalOrder": true}'>
			<% let formatter = Intl.NumberFormat('en', { notation: 'compact' }); %>
			<% for(let object of details){ %>
				<div class="col">
					<div class="card shadow-lg bg-light rounded">
						<img alt="<%= object.project.name %>" src="<%= object.project.image_url %>" class="card-img-top">
						<div style="display: block; height: 1px; background: #e3e3e3;"></div>
						<div class="card-body">
							<h5 class="card-title"><%= object.project.name %></h5>
							<p class="card-text"><%= object.project.summary %></p>
							<div class="d-flex justify-content-between align-items-center">
								<div>
									<a data-link="<%= object.owner_id %>" class="d-flex justify-content-center align-items-center user-hoverable" style="text-decoration: none; padding-right: 4px;">
										<div class="flex-shrink-0">
											<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-2.webp"
											alt="Generic placeholder image" class="img-fluid rounded-circle"
											style="width: 30px;">
										</div>
										<div class="user-display-name"><%= object.owner_name %></div>
									</a>
								</div>
								<div class="d-flex justify-content-between align-items-center" style="gap:5px;">
									<img src="/images/views.svg" alt="" class="filter-gray-3" height="22">
									<div class=""><%= formatter.format(object.project.views) %></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% } %>    
		</div>
		<br>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
			  <li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
			  </li>
			  <li class="page-item"><a class="page-link" href="#">1</a></li>
			  <li class="page-item"><a class="page-link" href="#">2</a></li>
			  <li class="page-item"><a class="page-link" href="#">3</a></li>
			  <li class="page-item">
				<a class="page-link" href="#">Next</a>
			  </li>
			</ul>
		</nav>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script src="/javascript/hover.js"
